[submodule "vendor/fuserl"]
	path = vendor/fuserl
	url = git://github.com/scallable/fuserl.git
[submodule "vendor/rabbitmq-erlang-client"]
	path = vendor/rabbitmq-erlang-client
	url = git://github.com/scallable/rabbitmq-erlang-client.git
[submodule "vendor/rabbitmq-codegen"]
	path = vendor/rabbitmq-codegen
	url = git://github.com/scallable/rabbitmq-codegen.git
[submodule "vendor/rabbitmq-server"]
	path = vendor/rabbitmq-server
	url = git://github.com/scallable/rabbitmq-server.git
[submodule "vendor/erabbitmq"]
	path = vendor/erabbitmq
	url = git://github.com/scallable/erabbitmq.git
